@page "/chat"
@using Store.Services
@inject ProductService ProductService
@inject IConfiguration Configuration
@inject IJSRuntime JS
@attribute [StreamRendering(true)]

<PageTitle>Products</PageTitle>

<h1>Chat</h1>

<p>Got a question, just ask!</p>

<div class="messages-scroller">
    <div class="messages">
        <ChatMessage State="@(new MessageState(IsAssistant: true, Text: "Hi, I'm a helpful assistant, how may I assist you?", CancellationToken.None))" />
        @for (var i = 0; i < messages.Count; i++)
        {
            var id = $"message{i}";
            var state = messages[i]!;
            <ChatMessage @key="@id" State="@state" />
        }
    </div>
</div>

<form class="write-message" @ref="@writeMessageElement" @onsubmit="@SendMessage">
    <textarea @bind="@userMessageText" Placeholder="Ask the AI assistant" style="width: 100%; height: 100%;" />
    <button type="submit">Send</button>
</form>
